<!doctype html>
<html lang="en" ng-app="frequencyapp">
  <head>
    <meta charset="utf-8">
    <title>Frequency App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular-route/angular-ui-router.js"></script>
    <script src="lib/dir-pagination/dirPagination.js"></script>
		<script src="app/app.js"></script>
  </head>
  <body style="background-color: black;">
		<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Frequency App</a>
        </div>
    </nav>
		<div role="main" class="container theme-showcase">
      <div class="" style="margin-top:90px;">
        <div ui-view></div>
      </div>
    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </body>
</html>
